<section
  class="h-screen text-center w-full flex flex-col items-center justify-between"
>
  <header class="w-full mt-28 flex-auto z-10 text-white">
    <h1 class="text-5xl font-bold">Vive la experiencia Tesla</h1>
    <p class="mt-4">Agende una demostración de manejo hoy</p>
  </header>
  <footer class="flex-2 mb-24 z-10">
    <a
      href="#"
      class="px-10 py-2 rounded hover:bg-white border-white border-2 transition-all duration-1000 text-white hover:text-black flex-1"
    >
      Demostración de manejo
    </a>
  </footer>
  <video
    class="absolute z-0 h-screen w-screen object-cover"
    src="/bannerVideoHero.webm"
    autoplay
    muted
    loop></video>
</section>
