---
export interface NavItemProps {
  text: string;
  href: string;
}

const { href, text } = Astro.props;
---

<li>
  <a href={href} class="px-4 py-1 rounded-sm" title={text}>
    {text}
  </a>
</li>
